body {
  margin: 0px; }
  body.dark {
    background: #555555; }
  body.ligt {
    background: #f4f4f4; }
  body .my-container {
    position: relative;
    max-width: 100%; }
    body .my-container .tack_title {
      display: block;
      width: 100%; }
    body .my-container .height-500 {
      min-height: 500px; }
    body .my-container .height {
      min-height: 100vh; }
    body .my-container .my-work-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 15px;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
