#mousediv {
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  z-index: -999;
  background: rgba(0, 123, 255, 0.21);
  border-radius: 0 50% 50% 50%;
  pointer-events: none; }

div#Work_1 {
  position: relative;
  margin: -1px;
  z-index: 999;
  width: 100%;
  cursor: none; }

.work-field {
  max-width: 75vw;
  width: 100%; }

.border {
  border: 1px solid; }

.border-dark {
  border-color: darkgray; }
