.click_item {
  text-align: center;
  width: 33.3%;
  margin: 10px 0;
  img.rounded.my_click {
    max-width: 100%;
  }
  .rounded {
    border-radius: 2%;
  }

  .my_click.selected {
    border: 1px solid orange;
    margin: -1px;
  }
}
